@media (min-width: 1200px){
    #forkme_banner {
        display: block;
        position: absolute;
        top:50px;
        right: 450px;
        z-index: 10;
        padding: 10px 50px 10px 10px;
        color: #fff;
        background: url(gh_images/blacktocat.png) #0090ff no-repeat 95% 50%;
        font-weight: 700;
        box-shadow: 0 0 10px rgba(0,0,0,.5);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}
@media (max-width: 1200px){
    #forkme_banner {
        visibility: hidden
    }
}
  
#downloads {
    position: absolute;
    width: 210px;
    z-index: 10;
    bottom: -40px;
    right: 200px;
    height: 70px;
    background: url(gh_images/icon_download.png) no-repeat 0% 90%;
  }
  
  .zip_download_link {
    display: block;
    float: right;
    width: 90px;
    height:70px;
    text-indent: -5000px;
    overflow: hidden;
    background: url(gh_images/sprite_download.png) no-repeat bottom left;
  }
  
  .tar_download_link {
    display: block;
    float: right;
    width: 90px;
    height:70px;
    text-indent: -5000px;
    overflow: hidden;
    background: url(gh_images/sprite_download.png) no-repeat bottom right;
    margin-left: 10px;
  }
  