<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="album.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    {% block navbar %}
    {% endblock %}

    <div class="jumbotron text-center">
        <h1>Chris Davie's Project Portfolio</h1>
        <h1><small>Data engineering, software and research</small></h1>
    </div>

    <div class="container">
        {% for cat in categories %}
            <h2 class="project-header">{{ cat.title }} <small>{{ cat.subtitle }}</small></h2>
            {% for row in cat.rows %}
                <div class="row">
                {% for portfolio_item in row %}
                    <div class="col-md-4">
                        <a href="{{ portfolio_item.portfolio_link }}.html">
                            <img class="img-fluid img-wrapper" src="{{ portfolio_item.index.image_link }}" alt="{{ portfolio_item.title }}">
                            <h3>{{ portfolio_item.title }}</h3>
                        </a>
                        <p>{{ portfolio_item.index.tldr }}</p>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}


        <div class="row">
            <div class="col-xl-8">
                <hr>
                {% block about %}
                {% endblock %}
            </div>
        </div>

    </div>

</body>

</html>