<h2>Chris Davie <small>- Data engineer, software developer</small></h2>

<p>I’m a Python developer and Data Engineer with a PhD in Physics. I've delivered three small and
    medium sized software projects, so far all using Python. I’m currently searching for a new role,
    preferably with a data focus in a friendly team that writes high quality code (techniques like TDD,
    CI/CD and YAGNI where appropriate).</p>

<p>I’ve designed and helped implement 3 significant software projects, 2 helping drive revenue. I built
    batch processing pipelines for <i>Wayhome</i>, automatically <a href={{name_porfolio_link.property_pipeline}}>selecting properties for shared ownership</a>. Similarly, I designed and helped
    implement pipelines for <i>Speechmatics</i>, automatically <a href={{name_porfolio_link.speech_to_text}}>training speech-to-text transcription models</a>.
    For <i>Lineup Lab</i>, I built an algorithm that <a href={{name_porfolio_link.sports_algorithm}}>helps fantasy sports players</a>.</p>

<p>My <a href="#portfolio">portfolio</a> above describes these projects in more detail.</p>

<p>I’ve mainly worked in Python so far, I’ve used a range of libraries including Flask, SQLAlchemy,
    Celery, pytest, invoke, numpy, scipy, matplotlib and Luigi. I’m proficient in a number of other
    technologies, including Docker, Google Cloud Platform, PostgreSQL, redis and RabbitMQ. I've also
    programmed in C++ and FORTRAN.</p>
