<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page_title }}</title>
    {% block headers %}
    {% endblock %}
</head>

<body>
    {% block navbar %}
    {% endblock %}

    {% if github_repo_link %}
        <a id="forkme_banner" href="{{ github_repo_link }}">View on GitHub</a>
    {% endif %}

    <main class="container">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8 blog-main">
                <div class="blog-post">
                    {{ contents }}
                    <hr>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-8 blog-main">
                    <p>Copyright &copy; Christopher J Davie, 2020</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </main>
</body>
